<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd ">

    <dubbo:application name="dsite-consumer"/>
    <!--<dubbo:registry id="dsite" address="${dubbo.registry}"/>-->
    <dubbo:registry id="dsite" address="N/A"/>
    <dubbo:protocol name="dubbo" port="20332"/>
    <dubbo:consumer timeout="50000" />


    <dubbo:reference  protocol="dubbo"  id="userInfoService"  interface="com.violin.service.userinfo.UserInfoService"></dubbo:reference>

</beans>

